<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <title>AGE</title>
</head>

<body>
    <form action="/" method="post">
        <p>Введите имя и возраст пользователя</p>
        <input type="text" name="name" placeholder="Имя" required>
        <input type="number" name="age" placeholder="Возраст" required>
        <p><input type="submit" value="Отправить"> <input type="reset" value="Стереть"></p>

</body>

</html>

<!-- Отрисовывает форму отправки данных. 
<input type="text" name="name" placeholder="Имя">
<input type="submit" value="Отправить"> -->