<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <title>Регистрация</title>
</head>

<body>
    <form action="/submit" method="post">
        <p>Введите ваше имя и e-mail</p>
        <label><input type="text" name="name" placeholder="Имя" required></label>
        <label><input type="email" name="email" placeholder="Email" required></label>
        <input type="submit" value="Войти">
    </form>
</body>

</html>

<!-- Отрисовывает форму отправки данных. 
<input type="text" name="name" placeholder="Имя">
<input type="submit" value="Отправить"> -->