<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <title>Math</title>
</head>

<body>
    <form action="/" method="post">
        <p>Введите 2 числа и выберите вариант операции</p>
        <input type="number" name="num1" placeholder="Первое число" required>
        <input type="number" name="num2" placeholder="Второе число" required>
        <p><input type="radio" name="operation" value="sum"> Сумма<Br>
            <input type="radio" name="operation" value="dif"> Разность<Br>
            <input type="radio" name="operation" value="div"> Деление<Br>
            <input type="radio" name="operation" value="mult"> Умножение
        </p>
        <input type="submit" value="Вычислить"> <input type="reset" value="Стереть">

</body>

</html>

<!-- Отрисовывает форму отправки данных. 
<input type="text" name="name" placeholder="Имя">
<input type="submit" value="Отправить"> -->