<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Button</title>
</head>

<body>
    <h1>Добро пожаловать на мою страничку!</h1>
    <p>
        <a href="{{ url_for('upload') }}"><input type="image"
                src="{{ url_for('static', filename='image/button-css-3d.png') }}"></a>
    </p>

</body>

</html>

<!-- В форму вставила ссылку под изображение, т.е. нажимая на изображение, переходим по ссылке -->