<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <title>lesson 2</title>
</head>

<body>

    <h1>Введите логин и пароль в форму ниже</h1>

    <form action="/" method="post">
        <input type="text" name="login" placeholder="Логин">
        <input type="password" name="password" placeholder="Пароль">
        <input type="submit" value="Отправить">
    </form>
</body>

</html>

<!-- Отрисовывает форму отправки данных. 
<input type="text" name="name" placeholder="Имя">
<input type="submit" value="Отправить"> -->