<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <title>
        {% block title %}
        Мой магазин
        {% endblock %}
    </title>
</head>

<body>
    <div class="wrapper">
        <div class="content">
            <header>
                <ul>
                    <li><a href="/">Главная</a></li>
                    <li><a href="/shoes/">Обувь</a></li>
                    <li><a href="/clothes/">Одежда</a></li>
                    <ul>
                        <li><a href="jacket">Куртки</a></li>
                    </ul>
                </ul>
            </header>

            {% block content %}
            <div class="row">
                <h1 class="col-12 col-md-6 display-2">Онлайн-магазин брендовой одежды и обуви</h1>
                <img src="/static/image/clothes_photo.jpg" alt="Заставка">
            </div>
            {% endblock %}
        </div>
        <div class="footer" <p class="alert-dark">Все права защищены &copy;, 2023-2024</p>
        </div>
    </div>
</body>

</html>